-- Enable RLS
alter table if exists public.public_directory enable row level security;

-- Create Table
create table if not exists public.public_directory (
    id bigint generated by default as identity primary key,
    name text not null,
    phones text[] not null,
    category text not null,
    region text not null,
    province text,
    notes text,
    is_hero boolean default false,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- RLS Policies
create policy "Enable read access for all users" on public.public_directory for select using (true);
create policy "Enable write access for authenticated users only" on public.public_directory for all using (auth.role() = 'authenticated');

-- Insert Data
